{% extends "subadmin/subadmin_base.html" %}
{% block title %}Change Password{% endblock title %}
{% block main %}
<h3>Change Password</h3>
<form method="post">
    {% csrf_token %}
    <label for="currentpassword">Current Password:</label>
    <input type="password" name="currentpassword" required>
    <br>
    <label for="newpassword">New Password:</label>
    <input type="password" name="newpassword" required>
    <br>
    <label for="confirmpassword">Confirm Password:</label>
    <input type="password" name="confirmpassword" required>
    <br>
    <button type="submit">Change Password</button>
</form>
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}
{% endblock main %}