{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Operation Messages</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Operation Type</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
            <tr>
                <td>{{ message.timestamp }}</td>
                <td>{{ message.operation_type }}</td>
                <td>{{ message.message }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
